{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "db": "./db",
        "core": "./core",
        "middlewares": "./middlewares",
        "routes": "./routes",
        "controllers": "./controllers",
        "utils": "./utils"
      }
    }]
  ]
}
